{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
    <body>
        <style>
            body {
                background-color: #FECC60;
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Welcome to the Edit-Services Page</div>
                        <div class="panel-body">
                            Maverick Food services, Ingredients For Your Success!
                            <p></p>
                            <p>Please Edit the Current Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>Edit Service</h1>
        <form method="POST" class="service-form">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-default">Update</button>
        </form>
    </body>
</html>
{% endblock %}


